@model MoviesRental.Models.RandomMovieViewModel
@{
    ViewBag.Title = "RandomMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RandomMovie</h2>
@Model.Movie.Name

@foreach (var customers in Model.Customers){
    <h3>@customers.Name</h3>
}

